
  <mat-toolbar color="primary">
    <div>
      Liste User
    </div>
    </mat-toolbar>
 <div class="pricing-header mx-auto">
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
    <thead>
    <tr>
    
    <th scope="col">Name </th>
    <th scope="col">UserName</th>
    <th scope="col">Email</th>
    <th scope="col">code </th>
    <th scope="col">Image</th>
     <th>
        <a class="btn btn-outline-success" (click)="addUser()">
          <i class="fa fa-plus-square"></i> Create New</a>
    </th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 3, currentPage: p }">
    
    <td>{{item.nom}}</td>
    <td>{{item.username}}</td>
    <td>{{item.email}}</td>
    <td>{{item.code}}</td>
    <td><a href="#"><img class="card-img-top img-responsive"
      src = "{{this.crudApi.host+'/api/Imgusers/'+item.id}}" 
      style = "height :100px;width:200px"
     alt=""></a></td>
    <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectData(item)">
      <i class="fa fa-pencil-square-o" ></i></button></td>
   <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.code)">
      <i class="fa fa-trash-o"></i></button></td>
       </tr>
         </tbody>
         </table>
         </div>
         <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
       </div>





