<header class="header-section">
    <nav class="main-navbar">
        <div class="container">
            <ul class="main-menu">
                <li><a href="#">Validation Cart</a></li>

            </ul>
        </div>
    </nav>
</header>
<section class="checkout-section spad">
    <div style="overflow-y: scroll; height:500px;" class="row justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <form class="checkout-form" [formGroup]="this.service.formData">
                        <div class="row address-inputs">
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="nom"
                                    placeholder=" Nom & Prénom ...">
                                <input type="text" class="form-control" formControlName="adresse"
                                    placeholder=" Adresse de Livraison ...">
                                <input type="text" class="form-control" formControlName="sadresse"
                                    placeholder=" Suite Adresse ....">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="ville"
                                    placeholder="Ville  ....">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="codep"
                                    placeholder="Code postal">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="tel"
                                    placeholder="Téléphonne .....">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="tel1"
                                    placeholder="Portable .....">
                            </div>
                        </div>
                        <div class="cf-title">Payment</div>
                        <div><a href="">Paypal</a><img src="assets/imgages/paypal.png" alt="" (click)="onSelectmodreg(1)">
                        </div>
                        <div><a>Credit / Debit card</a><img src="assets/imgages/mastercart.png" alt=""
                                (click)="onSelectmodreg(2)"></div>
                        <div><a>Carte e-Dinars</a><img src="assets/imgages/cards.png" alt=""
                                (click)="onSelectmodreg(3)"></div>
                        <div><a>When you get The Package</a><img src="assets/imgages/mastercart.png" alt=""
                                (click)="onSelectmodreg(4)"></div>

                        <br>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mt-2 mt-sm-0 btn-icon-text"
                                    (click)="valider()">
                                    <i class="mdi mdi-plus-circle"></i> Validation</button>

                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mt-2 mt-sm-0 btn-icon-text"
                                    [mat-dialog-close]>
                                    <i class="fa fa-close"></i> Retour </button>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="checkout-cart">
                        <h3>Your Cart</h3>
                        <div class="cart-table-warp row ">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="col-lg-6">Product</th>
                                        <th class="col-lg-3">Quantity</th>
                                        <th class="col-lg-3">Price</th>
                                        <th class="total-th">Montant</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of service.list ;let i=index;">
                                        <td class="product-col">
                                            <img class="card-img-top img-responsive"
                                                src="{{this.articleService.host+'/api/Imgarticles/'+item.id}}"
                                                style="width :80px; height :100px;width:fil-content" alt="">
                                            <div class="pc-title">
                                                <h4>{{item.libelle}}</h4>
                                            </div>
                                        </td>
                                        <td class="quy-col">
                                            <p>{{item.qte}}</p>
                                        </td>
                                        <td class="total-col">
                                            <h4>{{item.pv}}</h4>
                                        </td>
                                        <td class="total-col">
                                            <h4>{{item.qte*item.pv}}</h4>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col">  
    <div #paypal></div>  
  </div> 
